@import './_tokens.styl'

@media screen and (min-width 800px)
	.header
		&__menu
			&--mobile
				display none
				&.is-active
					display none
			&--desktop
				display block
				&__link
					margin-right 30px
					color VeryDarkBlue
					text-decoration none
					font-family FontFamilyHeadings
					font-weight FontWeightHeadingBold
					text-transform uppercase
					&:nth-last-child(1)
						margin-left 70px
						color DarkGrayishBlue
	.hamburger
		display none

	.hero
		margin-top 100px
		flex-direction row-reverse
		justify-content space-between
		max-width 1500px
		&__illustration
			margin-right -250px
			&__background
				margin-left 0
				top -200px
				bottom 250px
				width 2000px
		&__text
			margin-top 0
			max-width 2000px
			padding-left 7%