Red =	#ff5c5c

VeryDarkBlue =#242942
DarkGrayishBlue =	#5b5f71
LightGrayishBlue = #eef3f6

FontFamilyHeadings = 'Barlow Condensed', sans-serif
FontFamilyBody = 'Barlow', sans-serif

FontWeightHeadingBold = 700
FontWeightHeadingNormal = 400
FontWeightBody = 400

BoxShadow = 3px 4px 10px 0px #0000003b