@import './_tokens.styl'
html
	box-sizing border-box
	font-family FontFamilyBody
	font-size 62.5%
	scroll-behavior smooth

*,*:before, *:after
	box-sizing inherit

body
	margin 0
	overflow-x hidden
	font-size 1.8rem

figure
	margin 0

img
	max-height 100%
	width auto

.header
	position relative
	display flex
	justify-content space-between
	padding 0 7%
	align-items center
	height 100px
	&__figure
		height 25px
	&__menu
		&--desktop
			display none
		&--mobile
			display none
			&.is-active
				position absolute
				width 300px
				padding 20px
				top 100px
				right 0
				left 0
				margin-left auto
				margin-right auto
				display flex
				flex-direction column
				box-shadow BoxShadow
				border-radius 5px
				a
					color VeryDarkBlue
					text-decoration none
					font-family FontFamilyHeadings
					font-weight FontWeightHeadingBold
					font-size 3rem
					text-transform uppercase
					width 100%
					text-align center
					margin 10px 0
					&:nth-last-child(1)
						color DarkGrayishBlue
						margin-top 30px
						border-top 1px solid DarkGrayishBlue
