@import './_tokens.styl'
html
	box-sizing border-box
	font-family FontFamilyBody
	font-size 62.5%
	scroll-behavior smooth

*,*:before, *:after
	box-sizing inherit

body
	margin 0
	overflow-x hidden
	font-size 1.8rem

html, body
	max-width 100%
	overflow-x hidden

figure
	margin 0

img
	max-width 100%
	height auto

.header
	position relative
	z-index 100
	display flex
	justify-content space-between
	padding 0 7%
	align-items center
	height 100px
	&__figure
		width 25px
	&__menu
		&--desktop
			display none
		&--mobile
			display none
			background-color white
			&__link
				color VeryDarkBlue
				text-decoration none
				font-family FontFamilyHeadings
				font-weight FontWeightHeadingBold
				font-size 2.5rem
				text-transform uppercase
				width 100%
				text-align center
				margin 10px 0
				&:nth-last-child(1)
					color DarkGrayishBlue
					padding-top 30px
					margin-top 30px
					border-top 1px solid lighten(DarkGrayishBlue, 40)
			&.is-active
				position absolute
				width 300px
				padding 20px
				top 100px
				right 0
				left 0
				margin-left auto
				margin-right auto
				display flex
				flex-direction column
				box-shadow BoxShadow
				border-radius 5px

.hero
	display flex
	flex-direction column
	&__illustration
		margin-right -150px
		position relative
		&__figure
			position relative
			z-index 10
		&__background
			width 100%
			position absolute
			top -100px
			bottom -50px
			margin-left 50vw
			background-color #edf2f6
			z-index 1
			border-radius 0 50px
	&__text
		padding 0 5%
		margin-top 100px
		max-width 611px
		&__superior-subtitle
			display flex
			align-items center
			&__new
				color white
				background-color VeryDarkBlue
				font-family FontFamilyHeadings
				font-weight FontWeightHeadingBold
				padding 3px 10px
				border-radius 15px
				text-transform uppercase
				margin-right 15px
			&__title
				color DarkGrayishBlue
				text-transform uppercase
				font-size 1.3rem
				letter-spacing 2px
		&__title
			margin 0
			font-family FontFamilyHeadings
			font-size 4rem
			//max-width 335px
			text-transform uppercase
			font-weight 700
		&__paragraph
			//max-width 270px
			color DarkGrayishBlue
		&__buttons
			display flex
			//max-width 290px
			padding-bottom 100px
			&__item--accent
				height 40px
				width 50%
				background-color Red
				color white
				font-family FontFamilyHeadings
				font-weight FontWeightHeadingBold
				text-transform uppercase
				border none
				border-radius 5px
			&__item--ghost
				height 40px
				width 50%
				border none
				background-color white
				font-family FontFamilyHeadings
				text-transform uppercase
				color DarkGrayishBlue
				letter-spacing 2px



@media screen and (min-width 800px)
	.header
		&__menu
			&--mobile
				display none
				&.is-active
					display none
			&--desktop
				display block
				&__link
					margin-right 30px
					color VeryDarkBlue
					text-decoration none
					font-family FontFamilyHeadings
					font-weight FontWeightHeadingBold
					text-transform uppercase
					&:nth-last-child(1)
						margin-left 70px
						color DarkGrayishBlue
	.hamburger
		display none

	.hero
		margin-top 100px
		flex-direction row-reverse
		justify-content space-between
		max-width 1500px
		&__illustration
			margin-right -250px
		&__text
			margin-top 0
			max-width 2000px
			padding-left 7%